<h2>Edit Flyer</h2>

<%= render "form.html", Map.put(assigns, :action, organization_flyer_path(@conn, :update, @organization_id, @flyer)) %>

<span><%= link "Back", to: organization_flyer_path(@conn, :index, @organization_id) %></span>
